<!DOCTYPE html>
<html ng-app="Test">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <!-- sp-api -->
    <script src="../app.js"></script>

    <!-- app -->
    <script>
        var app = angular.module('Test', [
            'spVerticalValueSlider'
        ]);

        app.config([function () {
        }]);

        app.run([function () {
        }]);

        app.controller('TestCtrl', ['$scope', function ($scope) {
            $scope.values = {};
            $scope.alert = function (val) {
                alert(val);
            };
        }]);
    </script>
</head>
<body ng-controller="TestCtrl">
<div ng-repeat="tag in ['input', 'span']">
    <button ng-click="values[tag] = values[tag] - 1;">--</button>
    <sp-vertical-value-slider sp-tag-name="{{tag}}" style="height: 150px;" sp-model="values[tag]" sp-change="alert(values[tag])"></sp-vertical-value-slider>
    <button ng-click="values[tag] = values[tag] + 1;">++</button>
    <hr/>
</div>
</body>
</html>